body{
    background-color: black;
}
h1{
    color: white;
}
p{
    background-color: gray;
    color: wheat;
}
#p1{
    color: greenyellow;
}
.odd{
    color: burlywood;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
    font-weight: bold;
    text-decoration: darkslateblue;
    font-size:large;

}